[Unit]
Description=Sub: 8410 - End effector target volocity

[Service]
ExecStart=/usr/bin/python /home/pi/RoverArm/arm_controller.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
